{#
/**
 * @file
 * Template for a Dropdown menu component.
 */
#}
<div class="dropdown-menu">
  {% for item in items %}
    {% set nav_link_classes = [
      'dropdown-item',
      item.in_active_trail ? 'active'
    ] %}
    {% if item.url.options.attributes.class is iterable %}
      {% set nav_link_classes = nav_link_classes|merge(item.url.options.attributes.class) %}
    {% elseif item.url.options.attributes.class %}
      {% set nav_link_classes = nav_link_classes|merge([item.url.options.attributes.class]) %}
    {% endif %}
    
    {% if item.is_expanded and item.below %}
      {{ link(item.title, item.url, { 'class': nav_link_classes|merge(['dropdown-toggle']), 'data-toggle': 'dropdown' }) }}
      {% if item.below %}
        {% include 'BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/dropdown/dropdown-menu.twig' with {
          items: item.below
        } %}
      {% endif %}
    {% else %}
      {{ link(item.title, item.url, { 'class': nav_link_classes }) }}
    {% endif %}
  {% endfor %}
</div>