{#
/**
 * @file
 * Template for the page title.
 */
#}
{{ attach_library('BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/title') }}

{% set titleTag = titleTag ?? 'h1' %}

{% set titleClasses = [
  'page-title',
  displaySize ? 'display--' ~ displaySize
]|merge(title_utility_classes ? title_utility_classes : []) %}

{{ title_prefix }}
{% if title %}
  <{{titleTag}} {{ title_attributes.addClass(titleClasses) }}>{{ title }}</{{titleTag}}>
{% endif %}
{{ title_suffix }}
