{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% include '@bootstrap_storybook/button/button.twig' with {
  type: 'primary',
  tag: 'input',
  button_content: attributes.value,
  attributes: attributes,
} %}
