{#
/**
 * @file
 * Template for the branding block.
 */
#}
{% embed '@BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/block/block.twig' %}

{% block content %}
  {% include '@BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/navbar/navbar-brand.twig' with {
    text: site_name,
    slogan: site_slogan,
    image: site_logo,
    width: 30,
    height: 'auto',
    path: path('<front>'),
    alt: elements.content.site_name['#markup'] ~ ' logo' ,
  } %}
{% endblock %}

{% endembed %}
