{{ attach_library('BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/header') }}

{% if page.header %}
  <header class="page__header mb-3">
    <div class="container">
      {{ page.header }}
    </div>
  </header>
{% endif %}
