{{ attach_library('BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/content') }}

{% if page.content %}
  <div class="page__content">
    <div class="container">
      {{ page.content }}
    </div>
  </div>
{% endif %}
