{#
/**
 * @file
 * Template for all pages.
 */
#}
{{ attach_library('BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/page') }}

<div class="page">
  {% block pageNavigation %}
    {% include "@BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/navigation/navigation.twig" %}
  {% endblock %}

  <main class="pt-5 pb-5">
    {% block pageMain %}
      {% include "@BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/header/header.twig" %}
      {% include "@BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/content/content.twig" %}
    {% endblock %}
  </main>

  {% block pageFooter %}
    {% include "@BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/footer/footer.twig" %}
  {% endblock %}
</div>
