{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - container: fixed | fluid.
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 */
#}
{{ attach_library('BOOTSTRAP_STORYBOOK_SUBTHEME_MACHINE_NAME/navbar') }}

{% set container = container == 'fixed' ? 'container' : false %}
{% set placement = placement ?? '' %}
{% set color = color ?? 'light' %}
{% set navbar_expand = navbar_expand ?? 'lg' %}

<nav class="navbar navbar-expand-{{ navbar_expand }} justify-content-between navbar-{{ color }} {{ placement }} {{ utility_classes|join(' ') }}">
  {% if container %}
    <div class="{{ container }}">
  {% endif %}

  {% block branding %}
    {{ branding }}
  {% endblock %}

  <button type="button" class="navbar-toggle navbar-toggle--inactive" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar icon-bar--last"></span>
  </button>

  <div class="collapse navbar-collapse">
    {% block left %}
      {{ left }}
    {% endblock %}

    {% block right %}
      {{ right }}
    {% endblock %}
  </div>

  {% if container %}
    </div>
  {% endif %}
</nav>
