@import "../../../sass/init";

.card {

  // Card: Vertical
  &--vertical {
    background-color: $white;

    .card__text {
      padding: 1.75rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;

      h3 {
        margin-bottom: 1rem;

        a {
          color: $black;

          &:hover {
            color: $primary;
          }
        }
      }

      .position-statement__field-introduction {
        margin-bottom: 1.5rem;

        p {
          margin: 0;
          line-height: 1.5;
        }
      }
    }

    .card__image {

      img {
        width: 100%;
      }
    }

    .card__link {
      margin-top: auto;
    }
  }

  // Card: Horizontal
  &--horizontal {
    background-color: $white;

    @include mq(lg) {
      flex-direction: row;
    }

    .card__text {
      padding: 1rem 0;

      @include mq(md) {
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
      }

      flex: 1;

      h3 {
        margin-bottom: 1rem;

        a {
          color: $black;

          &:hover {
            color: $primary;
          }
        }
      }

      .position-statement__field-introduction {

        @include mq(md) {
          margin-bottom: 1.5rem;
        }

        p {
          margin: 0;
          line-height: 1.5;
        }
      }
    }
  }

  // Card: 2Column Horizontal
  &--2col {

    .card__child {
      display: flex;
      flex-direction: column;
      height: auto;

      @include mq(lg) {
        width: 50%;
      }
    }

    .card__text {
      padding: 30px 15px;
      justify-content: center;

      @include mq(lg) {
        padding-left: 5rem;
        max-width: 33%;
      }

      .card__sticky {
        order: 1;
      }

      .card__date {
        order: 3;
      }

      .card__description {
        order: 4;
      }

      .card__link {
        margin-top: 2rem;
        order: 5;

        a {
          @include mq-max(md) {
            width: 100%;
          }
        }
      }
    }

    .card__image {

      a,
      picture {
        display: block;
      }

      a {
        position: relative;
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          transition: $transition-base;
          transform: translate(50%);
          width: 150%;
          height: 150%;
          left: -50%;
        }


        &:hover {

          &:before {
            opacity: 0.45;
            transform: translate(0);
          }
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
