{#
/**
 * @file
 * Template for links.
 */
#}
{% if links -%}
  {% embed '@bootstrap_storybook/nav/nav.twig' with {
    items: links,
  } %}

    {% block items %}
      {% for item in links %}
        <li{{ item.attributes.addClass('nav-item') }}>
          {%- if item.link -%}
            {{ item.link.text_attributes.addClass('nav-link') }}
          {%- elseif item.text_attributes -%}
            <span{{ item.text_attributes.addClass('nav-link') }}>{{ item.text }}</span>
          {%- else -%}
            <span class="nav-link">{{ item.text }}</span>
          {%- endif -%}
        </li>
      {% endfor %}
    {% endblock %}
  {% endembed %}
{%- endif %}
